/* Global Styles */
:root {
  --rojo: #a12121;
  --blanco: #FFFFFF;
  --gris: #e1e1e1;
  --botomgris: #3F3434;
  --negro: #000;
  --grisoscuro: #857978;
  --grischiquito: #667085;
  --morado: #331B3B;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  /* 1rem = 10px */
}
*,:before, *:after{
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--rojo); /* Fondo rojo */
  }

h1 {
  font-size:  6.4rem;
  color: var(--blanco);
}

h2 {
  font-size: 4.8rem;
  color: var(--blanco);
}

h3 {
  font-size: 1.6rem;
  color: var(--morado);
  font-weight:bolder;
  line-height: 2.2rem;
}

p {
  font-size: 1.6rem;
  color: var(--blanco);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li{
  margin-bottom: 2.3rem;
}

a {
  text-decoration: none;
  color: var(--blanco);
  font-size: 1.6rem;
}

/* Contenedor de navegación */
nav {
  display: flex;
  justify-content: space-between; /* Logo a la izquierda y menú a la derecha */
  align-items: center; /* Centra verticalmente los elementos */
  height: 100%; /* Hace que el nav ocupe toda la altura del header */
}

/* Estilos del logo */
.logo {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* Estilos del menú */
.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 30px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  display: block; /* Hace que el enlace sea un bloque completo */
  padding: 10px 0; /* Añade espacio dentro de los enlaces */
}

.menu li a:hover {
  text-decoration: underline;
}

.hamburger {
  visibility: hidden;
}
.hamburger img {
  width: 3rem;
}

section {
  margin-bottom: 2rem;
}
  .container {
    max-width: 120rem;
    width: 90%;
    width: min (90%, 120rem);
    margin: 0 auto;
  }
  
  .hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
    align-items: center;
    padding: 0 50px;
    margin: 0 auto;
  }
  
  .hero-content {
    color: white;
    text-align: start;
  }
  
  .hero-content h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
    margin-bottom: 20px;
    color: var(--blanco);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .hero-content p {
    font-size: 1.9rem;
    margin-bottom: 40px;
  }
  
  .hero-image {
     border: 0.2rem solid var(--negro);
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Opción: bordes redondeados para la imagen */
  }
  
  .btn-cta {
    background-color: var(--botomgris); /* Fondo gris */
    color: var(--blanco); /* Texto blanco */
    padding: 15px 30px; /* Más grande que el contenido */
    font-size: 1.3rem;
    border: none;
    border-radius: 15px; /* Esquinas redondeadas */
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .btn-cta--rojo{
    background-color: var(--rojo);
  }

  

  .btn-cta:hover {
    background-color: var(--botomgris); /* Cambia a un gris más oscuro */
  }


  .custom__text768 {
    display: none;
  }
  

  .companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .companies__logo {
    display: flex;
    justify-content: space-around ;
    width: 100%;
    background-color: var(--grisoscuro) ;
    padding: 2rem;
    border-radius: 1rem;
  }

  .companies__text {
    color: var(--grischiquito);
    text-align: center;
  }

  .branding {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15rem;
    align-items: center; 
    padding: 0 50px;
    margin: 0 auto;
  }
  .branding__content {
    text-align: start;
  }

  .custom-rectangle {
    display: block;
    background-color: var(--blanco);
    border-radius: 1rem;
    text-align: left;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0;
    width: 30.8rem;

  }

  .custom-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 7rem;
  }
  
  .custom__section-title {
    margin-bottom: 15rem;
    text-align: center;
  }
  .custom-square{
  border-radius: 1rem;
  padding: 0.9rem;
  }
  .custom-square-rojo{
    background-color: #FFDED4;
  }
  .custom-square-amarillo{
    background-color: #FFEED4;
  }
  .custom-square-azul{
    background-color: #D4F0FF;
  }
  .custom-text {
    color: #331B3BA8;;
    font-size: 1.5rem;
  }
  .contact-content{
    text-align: start;
  }
  .contact-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15rem;
    align-items: center;
    padding: 0 50px;
    margin: 0 auto;
    background-color: #ADA7A7;
    border-radius: 1.2rem;
    margin-top: 5rem;
  }

  .footer{
    background-color: var(--grisoscuro);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 10rem ;
    padding-top: 5rem ;
    padding-right: 5rem ;
    padding-bottom: 5rem ;
    margin-top: 5rem;
  }
  
  .footer-section-title{
    color: var(--blanco);
    font-weight: bold;
  }


  .big_thing{
    display: none;
  }
  
  /* Responsive: para pantallas más pequeñas */
  @media (max-width: 768px) {
    .hero{
      display: flex;
      flex-direction: column;
    }
    
    .btn-cta{
      margin: 0 auto;
      background-color: var(--negro);
    }

    .hero-content h1 {
      font-size: 5rem;
      margin-bottom: 3rem;
      margin-bottom: 20px;
      color: var(--blanco);
      text-shadow: none;
      text-align: center;
    }
    
    .hero-content p {
      text-align: center;
      padding: auto;;
    }

    .btn-cta {
      display: block;
    }
    
    .hero-image {
       border: none;
       margin-top: 5rem;
    }

    .menu {
      display: none;
  }

  .branding {
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-content: center;
  }

  .branding__content{
      display: grid;
      grid-row: 0;
      text-align: center;
  }
  .branding__image{
      display: grid;
      grid-row: 2;
  }

  .custom-section-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .custom__section-title{
    text-align: center;
  }

  .custom-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .custom-section div:last-child{
    display: none;
  }

  .custom__text768{
    display: flex;
    color: var(--blanco);
    text-align: center;
    justify-content: center;
  }

  .custom-section-container--title {
    padding-bottom: -6rem;
  }

  .custom__section-title {
    margin-bottom: 0rem;
  }  
  .footer{
    background-color: var(--morado);
    display: block;
    padding: 10rem;
  }

  .footer-section-title{
    color: var(--blanco);
    font-weight: bold;
    font-size: 2.5rem;
  }

  .footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .contact-section{
    display: none;
  }

  .big_thing {
    display: block;
    text-align: center;
    background-color: var(--morado);
    padding: 5rem;
    border-radius: 1rem;
    margin: 7rem 2.2rem 7rem;
  }
  .companies__logo {
    background-color: var(--morado) ;
  }

  .hamburger {
    visibility: visible;
  }
  }
  
  header {
    padding: 0 20px; /* Alinea el contenido en los laterales */
    height: 80px; /* Ajusta la altura del header */
}


